.intro {

  @include padding-standart;

  min-height: 750px;
  margin-bottom: -12px;
  padding-top: 370px;

  &__article {
    width: 520px;
    text-align: right;
  }

  &__caption {
    margin-bottom: 30px;
    text-align: right;
    color: $white;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__text {
    margin-right: 25px;
    color: $white;
    font-weight: 400;
    font-size: 12px;
  }
}
