.page-footer {
  @include padding-standart;
  margin-bottom: -12px;
  min-height: 360px;
  padding-top: 38px;
  background-color: $navi;
  margin-bottom: -12px;

  &__text {
    font-size: 12px;
    color: $white;
  }
}
