.reviews {
  @include flex-row-wraped;

  position: relative;
  padding-left: 390px;
  padding-right: 390px;
  padding-top: 61px;
  padding-bottom: 96px;
  background-color: $navi;

  &::after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: calc(50% - 70px);
    width: 141px;
    height: 72px;
    background-image: url('../img/Shape.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
