.search {

  &__fieldset {
    position: relative;
    border: none;
    padding-top: 14px;
  }

  &__input {
    border-radius: 20px;
    height: 44px;
    width: 220px;
    border: none;
    padding-left: 25px;
    margin-right: 18px;
    font-size: 13px;
  }

  &__submit {
    top: 28px;
    left: 204px;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 0;
    color: $black;
    background-image: url('../img/icon-search.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $white;
    border: none;
    cursor: pointer;
  }
}
