.site-nav {
  @include flex-row-start;
  align-items: stretch;

  &__link {
    display: inline-block;
    padding-top: 25px;
    vertical-align: middle;
    height: 99px;
    margin-right: 50px;
    text-decoration: none;
    color: $white;
    font-weight: 700;
    font-family: $font;
    font-size: 13px;
    cursor: pointer;
  }

  &__link:hover {
    border-bottom: 3px solid $white;
  }

}
