.site-nav {

  @include flex-row;
  align-items: center;

  &__link {
    height: 99px;
    margin-right: 55px;
    padding-top: 41px;
    text-decoration: none;
    color: $white;
    font-weight: 400;
    font-family: $font;
    font-size: 13px;
    cursor: pointer;
  }

  &__link:last-of-type {
    margin-right: 0;
  }

  &__link:hover {
    border-bottom: 3px solid $white;
  }

}
