//fonts

$font: "Open Sans", Arial, Sans-seriff;

// colors

$white: #fff;
$white-transparent: rgba(255, 255, 255, 0);
$white-transparent-border: rgba(255, 255, 255, 0.2);
$black: #000000;
$blue-graish: #3a4d60;
$gray-darkish: #3a3939;
$gray: #ebebeb;
$purple: #8824cd;
$purple-light: #a87bb7;
$navi: #2e3b4e;
$pink: #e7526b;
$pink-transparent: rgba(231, 82, 107, 0.8);
$purple-transparent: rgba(87, 42, 103, 0.8);
